*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #adedbe;
}

.container {
    background-color:#d5f7de ;
    box-shadow: -2px 22px 8px 0px rgba(0,0,0,0.13);
-webkit-box-shadow: -2px 22px 8px 0px rgba(0,0,0,0.13);
-moz-box-shadow: -2px 22px 8px 0px rgba(0,0,0,0.13);
    border: 2px solid #000;
    height: 400px;
    width: 300px;
    border-radius: 12px;
    margin: 30px 600px;
}

input{
    margin: 10px 10px;
    font-weight: bold;
  
}

.inpt{
    width: 85%;
    height: 20px;
    padding: 8px;
    font-size: 18px;
    border-radius: 15px;
  
}

.inpt2{
    width: 70%;
    height: 20px;
    padding: 8px;
    font-size: 12px;
    border-radius: 15px;
}

.btn{
    border: 2px solid #000;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}

input[type=button]:hover
{
  background-color: #b2e0d1;
  cursor: pointer;
}

.relt{
    margin: 15px 8px;
    font-weight: bold;
    font-size: 15px;
}


